<head>
    <title>{{pageTitle}}</title>

    {{#each example_data.head.metatags}}
        {{{this}}}
    {{/each}}
    {{#each head.metatags}}
        {{{this}}}
    {{/each}}

    {{#each example_data.head.js}}
        {{{this}}}
    {{/each}}
    {{#each head.js}}
        {{{this}}}
    {{/each}}

    {{#each example_data.head.css}}
        {{{this}}}
    {{/each}}

    {{#each head.css}}
        {{{this}}}
    {{/each}}

</head>
