<section class="TestimonialSlide {{#if optional_classes}}{{optional_classes}}{{/if}}" {{#if id}}id="{{id}}" {{/if}}>
    {{#with content}}
        {{#if image_url}}
        <img src="{{image_url}}" {{#if image_alt}}alt="" {{/if}}>
        {{/if}}
        <div class="TestimonialContainer">
        <blockquote>
            {{quote}}
        </blockquote>
        {{author}}
        <strong>{{position}}</strong>
        </div>
    {{/with}}
</section>

{{!

Description:

Image/Text Slider

Json usage:

{
    "id": "section_id",
    "optional_classes": "",
    "type": "TestimonialSlide",
    "content": {
        "image_url": "http://link.to/image",
        "image_alt": "Trusted shops guarantee",
        "quote": "The testiomnial. Without quotation marks!!!",
        "author": "A. Uthor, City",
        "position": "KFZ Premium Vollkasko"
    }
}

}}